ul{
	background-color: #1E90FF;
	font-family: "Georgia";
	color: #fff;
}
li{
	color: #191970;
	background-color: #1E90FF;
	font-family: "Georgia";
	color: #fff;
}
a{
	color: #191970;
	background-color: #1E90FF;
	font-family: "Georgia";
	color: #fff;
}