<div class="row urlap-div-margin" id="urlap-szin">
	<h4>Film adatok módosítása...</h4>
	<form method="POST" enctype='application/json'>
	<div class="col-md-12 urlap-div-margin">
		<div class="input-group urlap-div-margin">
			<span class="input-group-addon">Azonosító</span>
			<input type="text" id="film-azon" class="form-control" placeholder="ID" aria-describedby="basic-addon1">
		</div>
		<div class="input-group urlap-div-margin">
			<span class="input-group-addon">Cím</span>
			<input type="text" id="film-cim" class="form-control" placeholder="film cím" aria-describedby="basic-addon2">
		</div>
		<div class="input-group urlap-div-margin">
			<span class="input-group-addon">Hossz</span>
			<input type="text" id="film-hossz" class="form-control" placeholder="*?? perc" aria-describedby="basic-addon3">
		</div>
		<div class="input-group urlap-div-margin">
			<span class="input-group-addon">Műfaj</span>
			<input type="text" id="film-mufaj" class="form-control" placeholder="műfaj megnevezése" aria-describedby="basic-addon4">
		</div>
		<div class="input-group urlap-div-margin">
			<span class="input-group-addon">Kép</span>
			<input type="text" id="film-kep" class="form-control" placeholder="kép URL" aria-describedby="basic-addon4">
		</div>

		<div class="input-group">
			<div class="row">
				<div class="col-xs-4 col-md-4 urlap-div-margin">
					<input value="Feltöltés" type="submit" class="btn btn-default" aria-describedby="basic-addon5">
				</div>
				<div class="col-xs-4 col-md-4 urlap-div-margin">
					<input value="Módosítás" type="submit" class="btn btn-default" aria-describedby="basic-addon6">
				</div>
				<div class="col-xs-4 col-md-4 urlap-div-margin">
					<input value="Törlés" type="submit" class="btn btn-default" aria-describedby="basic-addon7">
				</div>
			</div>
		</div>
		<h4 class="urlap-div-margin">Az adatok bevitele után arra a gombra kattintson, melyet végre szeretne hajtani a rekordon!</h4>
	</div>
	</form>
</div>