<div class="input-group">
	<div class="row">
		<div class="col-xs-4 col-md-3 urlap-div-margin">
			<input value="Feltöltés" id="new" class="btn btn-default" aria-describedby="basic-addon5">
		</div>
		<div class="col-xs-4 col-md-3 urlap-div-margin">
			<input value="Módosítás" id="mod" class="btn btn-default" aria-describedby="basic-addon6">
		</div>
		<div class="col-xs-4 col-md-3 urlap-div-margin">
			<input value="Törlés" id="del" class="btn btn-default" aria-describedby="basic-addon7">
		</div>
		<div class="col-xs-4 col-md-3 urlap-div-margin" id="szerfor">
			
			<!-- ide jön majd be a másik két gomb közül vmelyik amikor kell (szerep_gomb, forgat_gomb)-->
		</div>
	</div>
</div>