<div class="row" id="kezdo">
<div class="col-md-12" style="text-align: center;"><h2>Üdvözlöm az oldalon</h2></div>
		<div class="col-xs-4 col-md-4 urlap-div-margin">
			<h2>Film űrlap</h2>
			<h6 class="small">katt a képre</h6>
			<img src="img/filmek2.jpg" href="#" id="filmek_urlap" class="btn btn-default">
		</div>
		<div class="col-xs-4 col-md-4 urlap-div-margin">
			<h2>Színész űrlap</h2>
			<h6 class="small">katt a képre</h6>
			<img src="img/szinesz.jpg" href="#" id="szinesz_urlap" class="btn btn-default">
		</div>
		<div class="col-xs-4 col-md-4 urlap-div-margin">
			<h2>Stúdiók űrlap</h2>
			<h6 class="small">katt a képre</h6>
			<img src="img/studio.jpg" href="#" id="studio_urlap" class="btn btn-default">
		</div>
</div>
<div class="col-md-12" style="text-align: center;"><h4>Kérem válasszon az űrlapok közül, vagy a fenti menüpontok egyikéből!</h4></div>