<div class="row" id="urlap">
	<form method="POST" enctype='application/json'>
	<div class="col-md-12">
		<div class="input-group">
			<span class="input-group-addon" id="basic-addon1">Azonosító</span>
			<input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
		</div>
		<div class="input-group">
			<span class="input-group-addon" id="basic-addon1">Cím</span>
			<input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
		</div>
		<div class="input-group">
			<span class="input-group-addon" id="basic-addon1">Hossz</span>
			<input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
		</div>
		<div class="input-group">
			<span class="input-group-addon" id="basic-addon1">Kép</span>
			<input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
		</div>
		<h4>Az adatok bevitele után arra a gombra kattintson, melyet végre szeretne hajtani az adatbázis rekordján!</h4>
	</div>
	</form>
</div>