<div class="row urlap-div-margin" id="urlap-szin">
	<h4>Stúdió adatok módosítása...</h4>
	<form action="php/post/studio_uj.php" method="POST">
	<div class="col-md-12 urlap-div-margin">
		<div class="input-group urlap-div-margin">
			<span class="input-group-addon">Név</span>
			<input type="text" id="stud-nev" name="nev" class="form-control" placeholder="stúdió név" aria-describedby="basic-addon2">
		</div>
		<div class="input-group urlap-div-margin">
			<span class="input-group-addon">Ország</span>
			<input type="text" id="stud-orszag" name="orszag" class="form-control" placeholder="ország név" aria-describedby="basic-addon3">
		</div>
		<div class="input-group urlap-div-margin">
			<span class="input-group-addon">Város</span>
			<input type="text" id="stud-varos" name="varos" class="form-control" placeholder="város név" aria-describedby="basic-addon4">
		</div>
		<div class="input-group urlap-div-margin">
			<span class="input-group-addon">Cím</span>
			<input type="text" id="stud-cim" name="cim" class="form-control" placeholder="utca hsz." aria-describedby="basic-addon4">
		</div>
		<div class="input-group urlap-div-margin">
			<span class="input-group-addon">Terem szám</span>
			<input type="text" id="stud-terem" name="terem" class="form-control" placeholder="terem szám" aria-describedby="basic-addon4">
		</div>

		<div class="input-group">
			<div class="row">
				<div class="col-xs-4 col-md-4 urlap-div-margin">
					<input value="Feltöltés" type="submit" class="btn btn-default" aria-describedby="basic-addon5">
				</div>
			</div>
		</div>
		<h4 class="urlap-div-margin">Az adatok bevitele után a gombra kattintson!</h4>
	</div>
	</form>
</div>