<div class="row" id="urlap-szin">
	<h4>Színész adatok módosítása...</h4>
	<form action="php/post/szinesz_del.php" method="POST">
	<div class="col-md-12 urlap-div-margin">
		<div class="input-group urlap-div-margin">
			<span class="input-group-addon">Azonosító</span>
			<input type="text" id="szin-azon" name="id" class="form-control" placeholder="ID" aria-describedby="basic-addon1">
		</div>
		<div class="input-group">
			<div class="row">
				<div class="col-xs-4 col-md-4 urlap-div-margin">
					<input value="Törlés" type="submit" class="btn btn-default" aria-describedby="basic-addon7">
				</div>
			</div>
		</div>
		<h4 class="urlap-div-margin">Az adatok bevitele után a gombra kattintson!</h4>
	</div>
	</form>
</div>